<!DOCTYPE html>
<html>
<head>
	<title></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
	<div class="navbar-header">
		<div class="navbar-brand">
		Logo	
		</div>
	</div>
	<ul class="nav navbar-nav">
		<li><a href="">Home</a></li>
		<li><a href="">About</a></li>
		<li class="dropdown">
			<a href="" data-toggle="dropdown">Gallery</a>
			<ul class="dropdown-menu">
				<li><a href="">Gallery 1</a></li>
				<li><a href="">Gallery 2</a></li>
				<li><a href="">Gallery 3</a></li>
				<li><a href="">Gallery 4</a></li>
			</ul>
		</li>
		<li><a href="">Contact</a></li>
	</ul>
	<ul class="nav navbar-nav navbar-right">
		<li><a href="" data-toggle="modal" data-target="#login">Login</a></li>
		<li><a href="">Register</a></li>
	</ul>
	</div>
</nav>

<div class="modal fade" id="login" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal">x</button>
				<p class="modal-title">Login</p>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label>Email</label>
						<input type="email" name="" class="form-control">
					</div>
					<div class="form-group">
						<label>Password</label>
						<input type="password" name="" class="form-control">
					</div>
					<div class="form-group">
						<input type="submit" name="submit" value="Login" class="btn btn-danger">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>


<div class="carousel slide" id="mycaro" data-ride="carousel">
	<ul class="carousel-indicators">
		<li class="active" data-slide-to="0" data-target="#mycaro"></li>
		<li data-slide-to="1" data-target="#mycaro"></li>
		<li data-slide-to="2" data-target="#mycaro"></li>
		<li data-slide-to="3" data-target="#mycaro"></li>
	</ul>
	<div class="carousel-inner">
		<div class="item active">
			<img src="ab.jpg" class="img-responsive">
		</div>
		<div class="item">
			<img src="ab.jpg" class="img-responsive">
		</div>
		<div class="item">
			<img src="ab.jpg" class="img-responsive">
		</div>
		<div class="item">
			<img src="ab.jpg" class="img-responsive">
		</div>
	</div>
</div>
<div class="col-lg-6 col-lg-offset-3 hd1">
	<br>
	<h2>Services</h2>
</div>
<div class="col-lg-10 col-lg-offset-1">
	<div class="col-lg-4">
		<div class="col-lg-12 card">
			<img src="ab.jpg" class="img-responsive">
			<div class="col-lg-12 txt">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>

	<div class="col-lg-4">
		<div class="col-lg-12 card">
			<img src="ab.jpg" class="img-responsive">
			<div class="col-lg-12 txt">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>


	<div class="col-lg-4">
		<div class="col-lg-12 card">
			<img src="ab.jpg" class="img-responsive">
			<div class="col-lg-12 txt">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</div>
		</div>
	</div>




</div>


<div class="col-lg-6 col-lg-offset-3 hd1">
	<br>
	<h2>Gallery</h2>
</div>
<div class="col-lg-12">
	
	<div class="col-lg-3 hover-m">
		<img src="ab.jpg" class="img-responsive">
		<div class="hover">
			<p class="hover-p">Robot</p>
		</div>
	</div>

	<div class="col-lg-3 hover-m">
		<img src="ab.jpg" class="img-responsive">
		<div class="hover">
			<p class="hover-p">Robot</p>
		</div>
	</div>
	<div class="col-lg-3 hover-m">
		<img src="ab.jpg" class="img-responsive">
		<div class="hover">
			<p class="hover-p">Robot</p>
		</div>
	</div>
	<div class="col-lg-3 hover-m">
		<img src="ab.jpg" class="img-responsive">
		<div class="hover">
			<p class="hover-p">Robot</p>
		</div>
	</div>
	<div class="col-lg-3 hover-m">
		<img src="ab.jpg" class="img-responsive">
		<div class="hover">
			<p class="hover-p">Robot</p>
		</div>
	</div>
	<div class="col-lg-3 hover-m">
		<img src="ab.jpg" class="img-responsive">
		<div class="hover">
			<p class="hover-p">Robot</p>
		</div>
	</div>
	<div class="col-lg-3 hover-m">
		<img src="ab.jpg" class="img-responsive">
		<div class="hover">
			<p class="hover-p">Robot</p>
		</div>
	</div>
	<div class="col-lg-3 hover-m">
		<img src="ab.jpg" class="img-responsive">
		<div class="hover">
			<p class="hover-p">Robot</p>
		</div>
	</div>

</div>

<div class="col-lg-6 col-lg-offset-3 hd1">
	<br>
	<h2>FAQ's</h2>
</div>



<div class="col-lg-12">
<div class="col-lg-6">
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#myid">
			Question?
		</div>
		<div class="panel-body collapse" id="myid">
			Answer
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#myidd">
			Question?
		</div>
		<div class="panel-body collapse" id="myidd">
			Answer
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-default">
		<div class="panel-heading" data-toggle="collapse" data-target="#myide">
			Question?
		</div>
		<div class="panel-body collapse" id="myide">
			Answer
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-info">
		<div class="panel-heading" data-toggle="collapse" data-target="#myidf">
			Question?
		</div>
		<div class="panel-body collapse" id="myidf">
			Answer
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-primary">
		<div class="panel-heading" data-toggle="collapse" data-target="#myidg">
			Question?
		</div>
		<div class="panel-body collapse" id="myidg">
			Answer
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-success">
		<div class="panel-heading" data-toggle="collapse" data-target="#myidh">
			Question?
		</div>
		<div class="panel-body collapse" id="myidh">
			Answer
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-warning">
		<div class="panel-heading" data-toggle="collapse" data-target="#myidi">
			Question?
		</div>
		<div class="panel-body collapse" id="myidi">
			Answer
		</div>
	</div>
</div>
<div class="col-lg-6">
	<div class="panel panel-danger">
		<div class="panel-heading" data-toggle="collapse" data-target="#myidj">
			Question?
		</div>
		<div class="panel-body collapse" id="myidj">
			Answer
		</div>
	</div>
</div>


</div>



<div class="col-lg-12">
	<div class="col-lg-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3423.0037264913876!2d75.8175323150906!3d30.914519981574184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391a83e8b9be52fd%3A0xe136325974df113c!2s48A%2C%20DMC%20Rd%2C%20Tagore%20Nagar%20E-Block%2C%20Tagore%20Nagar%2C%20Ludhiana%2C%20Punjab%20141001!5e0!3m2!1sen!2sin!4v1580449455950!5m2!1sen!2sin" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
	<div class="form col-lg-6">
		<center><h2>Contact Us</h2></center>
		<form>
			<div class="col-lg-6 form-group">
				<label>Name</label>
				<input type="text" name="name" class="form-control">
			</div>
			<div class="col-lg-6 form-group">
				<label>Email</label>
				<input type="email" name="email" class="form-control">
			</div>
			<div class="form-group col-lg-12">
				<label>Message</label>
				<textarea name="message" class="form-control"></textarea>
			</div>
			<div class="form-group col-lg-12">
				<input type="submit" name="submit" value="Contact" class="btn btn-danger">
			</div>
		</form>
	</div>
</div>







</body>
</html>